body,
ul {
   margin: 0;
   padding: 0;
   background-color: #212529;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
   padding-right: 50px;


}

li.nav-item>a,
.btn {
   text-transform: capitalize;
   text-decoration: none;
   color: #FFFFFF;
   padding: 20px 25px;
   box-sizing: border-box;
   transition: all .7s;
}

.nav {
   display: flex;
   list-style: none;
   align-items: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;

}

li.nav-item>a:hover {
   color: #FFB742;
}

.btn {
   display: flex;
   align-items: center;
   background: #FFB742;
   border: 2px solid #FFB742;
   border-radius: 50px;
   color: #212529;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   height: 54px;

}

.content {
   display: flex;
   text-align: center;
   justify-content: center;
   padding-top: 108px;
}

.box {
   color: #FFFFFF;
   font-family: 'Inter';
}

.text1 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;

}

a.color-text {
   color: #FFB742;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
}

.text2 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
}

.text3 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   padding-top: 25px;
}

img {
   padding-top: 22px;
}

.box-menu {
   display: flex;
   justify-content: center;
   padding-top: 136.27px;
   box-sizing: border-box;

}

.menu-item:hover {
   background-color:
      #FFB742;
   text-decoration-color: black;
}

.menu-item {
   display: flex;
   width: 27%;
   height: 120px;
   background: rgba(56, 62, 69, 0.44);
   border-radius: 10px;
   justify-content: space-around;
   text-decoration: none;
   color: #FFFFFF;
   margin: 24px;
   padding-bottom: 20px;
   box-sizing: border-box;

}

.menu {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   color: #FFFFFF;
   box-sizing: border-box;
   padding-right: 4px;


}

.color-number {
   color: #FFB742;

}

.color-number {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   color: black;
}

.color-text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   color: black;
}