body,
ul {
   margin: 0;
   padding: 0;
   background-color: #212529;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
   padding-right: 50px;


}

li.nav-item>a,
.btn {
   text-transform: capitalize;
   text-decoration: none;
   color: #FFFFFF;
   padding: 20px 25px;
   box-sizing: border-box;
   transition: all .7s;
}

.nav {
   display: flex;
   list-style: none;
   align-items: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;

}

li.nav-item>a:hover {
   color: #FFB742;

}

.btn {
   display: flex;
   align-items: center;
   background: #FFB742;
   border: 2px solid #FFB742;
   border-radius: 50px;
   color: #212529;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   height: 54px;

}

.content {
   display: flex;
   text-align: center;
   justify-content: center;
   padding-top: 108px;
}

.box {
   color: #FFFFFF;
   font-family: 'Inter';
}

.text1 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;

}

a.color-text {
   color: #FFB742;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
}

.text2 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
}

.text3 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   padding-top: 25px;
}

img {
   padding-top: 22px;
}

.box-menu {
   display: flex;
   justify-content: center;
   padding-top: 136.27px;
   box-sizing: border-box;

}

.menu-item:hover {
   background-color: #FFB742;
}

.menu-item:hover div {
   color: black;
}

.menu-item {
   display: flex;
   width: 27%;
   height: 120px;
   background: rgba(56, 62, 69, 0.44);
   border-radius: 10px;
   justify-content: space-around;
   text-decoration: none;
   margin: 24px;
   padding-bottom: 20px;
   box-sizing: border-box;


}

.menu {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   box-sizing: border-box;
   padding-right: 4px;



}

.color-number {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   color: #FFB742;

}

.color-text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   color: #FFFFFF;

}

.arrow {
   display: flex;
   align-self: center;
   text-align: center;
   justify-self: center;
}

/* Box About */

.box-about {
   display: flex;
   justify-content: center;
   margin-top: 137px;
}

.img-box {
   margin-right: 40px;
}

.box-content {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   text-transform: uppercase;
   color: #FFB742;
   width: 148px;
   height: 42px;
   background: rgba(255, 255, 255, 0.08);
   border-radius: 50px;
}

.about-me {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
   padding-top: 10px;
}

.text {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #D5D5D5;
   padding-top: 29.49px;
   max-width: 600px;
}

.button a {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   background: #FFB742;
   border: 2px solid #FFB742;
   border-radius: 50px;
   color: #212529;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   width: 147.57px;
   height: 54px;
   margin-top: 54.45px;
}

/* box-My Works */

.box-myworks {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 64px;
}

.my-title {
   display: flex;
   justify-content: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
}

.nav-menu a,
li {
   color: #FFB742;
   text-decoration: none;
   list-style: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #FFFFFF;
}

.nav-menu {
   display: flex;
   text-align: center;
   justify-content: space-around;
   margin-top: 30px;
   border-radius: 3px;
   color: #FFB742;
}

ul.mobile {
   display: flex;
   justify-content: center;

}

li.mobile-menu {
   padding: 5px 20px;
   height: 40px;
   box-sizing: border-box;
   background: #212529;
   border-radius: 3px;
   margin-right: 24px;

}

.mobile-menu:hover a {
   background-color: #FFB742;
   color: black;
}

.mobile-menu a {
   padding: 10px 24px
}

.box-img {
   text-align: center;
}

.menu-img {
   padding: 25px;
   width: 390px;
   height: 495.41px;
}

.menu-img1 {
   padding: 25px;
   width: 390.24px;
   height: 292.68px;
}

/* footer */

.footer {
   display: flex;
   flex-direction: row;
   height: 470px;
   background-color: #1C1C1C;
   margin-top: 116.32px;
   box-sizing: border-box;
}

.box-footer {
   display: flex;
   flex-direction: column;
   align-self: center;
   text-align: start;
   margin: 0% auto;
   box-sizing: border-box;
   height: 228.78px;

}

.my-footer {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   color: #FFB742;
}

.my-footer1 {
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #D4D4D4;
   max-width: 283px;
}

.nav-footer {
}

.text-footer {
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 21.5865px;
   color: #F5FBF2;
   margin-bottom: 13.13px;
}

.footer-contact {
   padding-bottom: 8px;
   background-color: #1C1C1C;
}
.footer-contact a {
   text-decoration: none;
   color: #7B7B7B;
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 17.9888px;
}
.footer-email a{
   text-decoration: none;
   color: #7B7B7B;
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 17.9888px;
}
.footer-email {
   max-width: 319px;
}
.the-end {
   margin-top: 1481px;
}