body {
   font-family: 'Inika', serif;
   margin: 0;
}

.header {
   min-height: 110px;
   background: white;
}

.mplus1 {
   text-align: center;
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 70px;
   letter-spacing: 0.1em;
   color: #3E45E8;
}

.marcellus {
   font-family: 'M PLUS 1', sans-serif;
   color: #E8C23E;
   text-align: center;
}

.baner {
   background-image: url("./img/image1.png");
   height: 803px;
   background-repeat: no-repeat;
   background-size: 100%;
   padding-top: 206px;
   padding-left: 80px;
   box-sizing: border-box;
}

.content {
   background-image: url(./img/flag.png);
   width: 80%;
   height: 272px;
   background-repeat: no-repeat;
   color: #ffffff;
   padding-left: 3%;
   box-sizing: border-box;
   font-family: 'Inika';
   font-style: normal;
   font-size: 48px;
}

.main {
   padding: 0 80px;


}

.h1 {
   padding-bottom: 25px;
   font-size: 40px;
   font-weight: 700;

}

.line {
   box-sizing: border-box;
   margin-top: 33px;
   border-bottom: 5px solid #3E45E8;
   background-color: #3E45E8;
   width: 402px;
}

.card {
   display: inline-block;
   width: 30%;
   background: #FFFFFF;
   box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
   border-radius: 30px;
   height: 50%;
   box-sizing: border-box;
}

.card-margin {
   margin: 0 3.5%;
}

.card__img {
   width: 100%;

}

.card-title a {
   font-weight: 700;
   font-size: 24px;
   color: #1E8DF2;
   padding: 10px;
   box-sizing: border-box;
   text-decoration: none;
}

.card__description {
   font-weight: 400;
   font-size: 20px;
   color: #E8C23E;
   padding: 10px;
   box-sizing: border-box;
}

.h2 {
   padding-top: 74px;
   padding-bottom: 21px;
   font-weight: 700;
   font-size: 40px;
   color: #000000;
   text-align: center;
}


.border-2 {
   border: 5px solid #3E45E8;
   background-color: #3E45E8;
   width: 402px;
}

.center-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 41px;
   width: 812px;
   box-sizing: border-box;

}

.btn1 {
   text-align: center;
}

.btn {
   display: inline-block;
   border: 2px solid #2A61F0;
   width: 591px;
   height: 121px;
   font-size: 64px;
   text-align: center;
   text-decoration: none;
   background-color: #2A61F0;
   font-family: 'Inika', serif;
   color: #ffffff;
}

.lower {
   text-align: center;
   min-height: 320px;
   background-color: #2F4A4B;
}
a {
   text-align: center;
   text-decoration: none;
}
.contact {
display: inline-block;
   text-align: center;
   color: #A89D9D;
   font-family: 'Marcellus SC', serif;
   font-weight: 400;
   font-size: 36px;
   padding-top: 20px;
}

.box-emoji {
   padding-top: 20px;
   text-align: center;
}