body {
   font-family: 'Inika', serif;
}

.header {
   min-height: 110px;
   background: white;
}

.mplus1 {
   text-align: center;
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 70px;
   letter-spacing: 0.1em;
   color: #3E45E8;
}

.marcellus {
   font-family: 'M PLUS 1', sans-serif;
   color: #E8C23E;
   text-align: center;
}

.baner {
   background-image: url("./img/image1.png");
   height: 803px;
   background-repeat: no-repeat;
   background-size: 100%;
   padding-top: 206px;
   padding-left: 80px;
   box-sizing: border-box;
}

.content {
   background-image: url(./img/flag.png);
   width: 75%;
   height: 272px;
   background-repeat: no-repeat;
   color: #ffffff;
   padding-left: 3%;
   box-sizing: border-box;
   font-family: 'Inika';
   font-style: normal;
   font-size: 48px;
}

.main {
   padding: 0 80px;
}
.h1 {
   margin: 25px 0;
   font-size: 40px;
   font-weight: 700;
}
.line {
   border-bottom:5px solid #3E45E8;
   width: 402px;
}
.card {
   width: 30%;
   display: inline-block;
}

.card-margin {
   margin: 0 4.5%;
}

.card__img {
   width: 100%;
}

.card-title {
   font-weight: 700;
   font-size: 24px;
   color: #1E8DF2;
}

.card__description {
   font-weight: 400;
   font-size: 20px;
   color: #E8C23E;
}

.title2 {
   font-weight: 700;
   font-size: 40px;
   color: #000000;
   text-align: center;
}

.border-1 {
   border: 5px solid #3E45E8;
   width: 402px;
   margin-left: 25px;
   margin-top: 100px;
}

.border-2 {
   border: 5px solid #3E45E8;
   width: 402px;
}

.center-img {
   display: block;
   margin: 0% auto;
}

.btn1 {
   text-align: center;
}

.btn {
   display: inline-block;
   border: 2px solid #2A61F0;
   width: 591px;
   height: 121px;
   font-size: 64px;
   text-align: center;
   text-decoration: none;
   background-color: #2A61F0;
   font-family: 'Inika', serif;
   color: #ffffff;
}

.lower {
   min-height: 320px;
   background-color: #2F4A4B;
}

.contact {
   text-align: center;
   color: #A89D9D;
   font-family: 'Marcellus SC', serif;
   font-weight: 400;
   font-size: 36px;
}

.box-emoji {
   text-align: center;
}