body {
   background-color: #E5E5E5;
}

.figure {
   display: inline-block;
   border: solid white;
   width: 512px;
   height: 512px;
   background-color: white;
   box-sizing: border-box;
   margin-left: 4%;
   margin-top: 4%
}
/* Перша колонка! */
.blue {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 140px;

}

.yellow {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -118px;
}

.blue2 {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 240px;
   border-radius: 444px 444px 0px 0px;
}

.yellow2 {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -15px;
   border-radius: 0px 0px 444px 444px;
}
/* Друга колонка! */
.blueflag {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 140px;
}

.yellowflag {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -118px;
}

.blueflag2 {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 240px;
   border-radius: 444px 444px 0px 0px;
}

.yellowflag2 {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -15px;
   border-radius: 0px 0px 444px 444px;
}
/* Третя колонка! */
.bluesquare {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 0px;
   background-position-y: 92px;
}
.yellowsquare {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 0px;
   background-position-y: -170px;
}
.bluesquare2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.1.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-repeat: no-repeat;
   display: block;
   margin: 0 auto;
   border-radius: 444px 444px 0px 0px;
}
.yellowsquare2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.1.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -15px;
   border-radius: 0px 0px 444px 444px;
}