body {
   background-color: #E5E5E5;
}

.figure {
   display: inline-block;
   width: 512px;
   height: 512px;
   background-color: white;
   box-sizing: border-box;
   margin-left: 4%;
   margin-top: 4%;
}

/* Перша колонка! */
.blue {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 140px;

}

.yellow {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -118px;
}

.blue-2 {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 240px;
   border-radius: 444px 444px 0px 0px;
}

.yellow-2 {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/Glyph1.png");
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -15px;
   border-radius: 0px 0px 444px 444px;
}

/* Друга колонка! */
.blue-flag {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 140px;
}

.yellow-flag {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -118px;
}

.blue-flag2 {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: 240px;
   border-radius: 444px 444px 0px 0px;
}

.yellow-flag2 {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 50px;
   background-position-y: -15px;
   border-radius: 0px 0px 444px 444px;
}

/* Третя колонка! */
.blue-square {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 0px;
   background-position-y: 85px;
}

.yellow-square {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 0px;
   background-position-y: -170px;
}

.blue-square2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.1.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-repeat: no-repeat;
   border-radius: 444px 444px 0px 0px;
   background-position-x: 111px;
   background-position-y: 105px;
}

.yellow-square2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Group6.1.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   border-radius: 0px 0px 444px 444px;
   background-position-x: 111px;
   background-position-y: -155px;
}

/* Четверта колонка! */
.blue-plane {
   width: 512px;
   height: 256px;
   background-image: url("./img/Plane1.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 160px;
   background-position-y: 120px;
}

.yellow-plane {
   width: 512px;
   height: 256px;
   background-image: url("./img/Plane1.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 160px;
   background-position-y: -135px;
}

.blue-plane2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Plane2.png");
   background-color: #2137FC;
   background-repeat: no-repeat;
   background-position-x: 118px;
   background-position-y: 105px;
   border-radius: 444px 444px 0px 0px;
}

.yellow-plane2 {
   width: 512px;
   height: 256px;
   background-image: url("./img/Plane2.png");
   background-color: #FFCE22;
   background-repeat: no-repeat;
   background-position-x: 118px;
   background-position-y: -150px;
   border-radius: 0px 0px 444px 444px;
}

/* П'ята колонка! */
.blue-diya {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position-x: 95px;
   background-position-y: 140px;

}

.yellow-diya {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position-x: 95px;
   background-position-y: -118px;
}

.blue-diya2 {
   width: 512px;
   height: 256px;
   background-color: #2137FC;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position-x: 95px;
   background-position-y: 140px;
   border-radius: 444px 444px 0px 0px;
}

.yellow-diya2 {
   width: 512px;
   height: 256px;
   background-color: #FFCE22;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position-x: 95px;
   background-position-y: -118px;
   border-radius: 0px 0px 444px 444px;
}

.blockflag1 {
   display: block;
   background-color: black;
   height: 330px;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position: bottom;
}

.black-diya3 {
   background-color: black;
   width: 512px;
   height: 182px;
   background-image: url("./img/diyaFlag.png");
   background-repeat: no-repeat;
   background-position: center;
   
}

.blockflag2 {
   display: block;
   background-color: black;
   height: 130px;
   background-image: url("./img/diyaFlag.png");
   background-repeat: no-repeat;
   background-position: left 27px, right 27px;
}

.black-diya4 {
   background-color: black;
   width: 512px;
   height: 382px;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-position-y: top;
}

.blockflag3 {
   display: block;
   background-color: black;
   height: 130px;
   background-image: url("./img/diyaFlag.png"), url("./img/diyaFlag.png");
   background-repeat: no-repeat;
   background-position: left 27px, right 27px;
}

.black-diya5 {
   background-color: black;
   width: 512px;
   height: 382px;
   background-image: url("./img/diya1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-position-y: top;
}