body {
   background-color: #FFFCFC;
   width: 100%;
   margin: 0% auto;
   font-family: 'Rosario', sans-serif;

}

.header-box,
li>a {
   text-decoration: none;
   list-style-type: none;
}

.header {
   display: flex;
   flex-direction: row;
   background-color: #000000;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0%;

}

.logo {
   display: flex;
   width: 10.5rem;
}

.header-menu {
   display: flex;

}

.font-menu {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 1.6rem;
   color: #FFFCFC;
   padding: 20px;
}

.header-box {
   display: flex;
   flex-direction: row;

}

.box-img {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   overflow: auto;
   margin-top: 71px;
}

.foto img {
   padding-bottom: 5%;
}

.left {
   padding: 1.5%;
   position: relative;
   animation: left 2s linear;

}

.right {
   padding: 1.5%;
   position: relative;
   animation: right 2s linear;

}

.left-center {
   padding: 1%;
   position: relative;
   animation: left-center 1s linear;
}

.right-center {
   position: relative;
   animation: right-center 1s linear;
}

@keyframes left-center {
   from {
      left: -100%;
   }

   to {
      left: 0%;
   }

}

@keyframes right-center {
   from {
      right: -100%;
   }

   to {
      right: 0%;
   }
}

@keyframes left {
   from {
      left: -100%;
   }

   to {
      left: 0%;
   }
}

@keyframes right {
   from {
      right: -100%;
   }

   to {
      right: 0%;
   }
}