body {
   background-color: #FFFCFC;
   width: 100%;
   margin: 0% auto;
   font-family: 'Rosario', sans-serif;
  
}

.header-box,
li>a {
   text-decoration: none;
   list-style-type: none;
}

.header {
   display: flex;
   flex-direction: row;
   background-color: #000000;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0%;  
   
}

.Logo {
   display: flex;
   width: 10.5rem;
}

.header-menu {
   display: flex;

}

.font-menu {
   font-family: 'Rosario';
   font-style: italic;
   font-weight: 700;
   font-size: 1.6rem;
   color: #FFFCFC;
   padding:  20px;
}

.header-box {
   display: flex;
   flex-direction: row;

}
.box-img {
   margin-top: 71px;
}
.left {}
