body {
   background-color: #E5E5E5;
   font-family: 'PT Sans', sans-serif;
}

.wrapper {
   background-color: #202846;

}

.header {
   display: inline;
}

.header-container {
   height: 90px;
}

.header-logo {
   display: inline-block;
   margin-left: 138px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.header-logo2 {
   display: inline-block;
   margin-left: 67px;
}

.menu-list {
   /*Прибираємо маркери списку*/
   list-style: none;

}

.menu-item {
   display: inline;
   margin-top: 30px;

}

.btn {
   /*Прибираємо підкреслення*/
   text-decoration: none;
   /* Задаємо розміри шрифту */
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   color: #FFFFFF;

}

.h1 {
   background-color: #C6C6DC;
   height: 140px;

}

.text {
   display: inline-block;
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 400;
   font-size: 48px;
   color: #202846;
   margin-left: 227px;
   margin-bottom: 39px;
   margin-top: 39px;
}