body {
   font-family: 'PT Sans', sans-serif;
   background-color: #E5E5E5;
   margin: 0 auto;
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   height: 90px;
   background-color: #202846;
   box-sizing: border-box;

}

.img-logo1 {
   padding-left: 138px;
   padding-right: 150px;
}

.img-logo2 {
   padding-right: 64px;
   padding-left: 15px;
}

.header-menu {
   display: flex;
   list-style: none;
   align-items: center;
   text-align: center;
   box-sizing: border-box;

}

a {
   text-decoration: none;

}

.menu-item>a {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   color: #FFFFFF;
   font-size: 1rem;
}

.menu-item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   border-right: 2px solid white;
   height: 59px;
   box-sizing: border-box;

}

.menu-item>a {
   padding: 25px 25px;
}

.title {
   display: flex;
   justify-content: flex-start;
   background-color: #C6C6DC;
   height: 140px;
}

.h1 {
   display: flex;
   align-items: center;
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 400;
   font-size: 48px;
   padding-left: 180px;

}

.box-1 {
   display: flex;
   justify-content: center;
   padding-top: 182px;
   box-sizing: border-box;
}

.box-2 {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding-top: 36px;
}

.box-3 {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding-top: 36px;

}

.box-4 {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding-top: 36px;

}

.card-box {
   display: flex;
   position: relative;
   max-width:
      1489px;
   min-width: 960px;
   justify-content: center;
   line-height: 28px;
   align-items: center;
   text-align: center;
   background-color: #BDBDC6;
   height: 300px;
}

.card-content {
   display: flex;
   flex-direction: column;
   align-content: flex-start;
}

.card-title {
   display: flex;
   align-content: flex-start;
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 700;
   font-size: 36px;
   color: #353C57;
}

.card-line {
   display: flex;
   align-self: flex-start;
   border: 3px solid #FFFFFF;
   width: 95%;
   background-color: #FFFFFF;
   margin-top: 1%;
}

img {
   padding: 5% 5%;
}

.card-text {
   display: flex;
   position: relative;
   align-self: flex-start;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   color: #202846;
   background-color: #D7D7DD;
   padding: 3%;
   width: 90%;
   margin-top: 2%;
}

.footer {
   display: flex;
   align-items: center;
   height: 90px;
   background-color: #202846;
   margin-top: 87px;
}

.footer-text {
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 400;
   font-size: 36px;
   color: #EEECF1;
   padding-left: 60px;
}

.star {
   position: absolute;
   top: 2%;
   left: 95%;
   cursor: pointer;
   fill: white;
   transition: 0.2s all;
}

.box-1:hover .star {
   fill: yellow;
}

.box-2:hover .star {
   fill: yellow;
}

.box-3:hover .star {
   fill: yellow;
}

.box-4:hover .star {
   fill: yellow;
}

.button {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   background-color:
      #202846;
   width: 200px;
   height: 60px;
   border-radius: 30px;
   left: 93%;
   top: 76%;

}

.button-text {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #FFFFFF;
   padding: 15px 15px;
   box-sizing: border-box;
}

.button:hover {
   background-color: #353C57;
}